.footerParDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 3rem;
    bottom: 0;
    position: fixed;
}
.heart{
    color: red;
}
.heart:hover{
    width: 30px;
    height: 30px;
}
.footerPar{
    color: #fff;
    font-size: 1rem;
}
.footerPar:hover{
    color: #000;
    font-weight: 700;
}
.footerPar{
    font-weight: 400;
    font-size: 1rem;
}