.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 4rem;
    color: #fff;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}
.links nav ul li:hover{
    border-bottom: 2px solid red;
}

.links nav ul li:active{
    border-bottom: 1px solid blue;
}
.my-pic{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px dashed rgb(65, 65, 66);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.my-pic:hover{
    opacity: 0.5;
}