.body{
    padding: 10px; 
    width: 50%;
    font: 400 15px 'Josefin Sans', sans-serif;
    margin-left: 4rem;
    color: #fff;
    /* height: 100vh; */
}
.heading1{
    padding-top: 1rem;
    font-size:6.5rem;
}
/* Added linear-gradient property to text */
.heading1:hover{
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.par1{
    padding-top: 20px;
    font-size: 3rem;
}
.par1:hover{
    background: -webkit-linear-gradient(#FF8FB1, #FCE2DE);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.par2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}