.body{
    padding: 10px; 
    width: 50%;
    font: 400 15px 'Josefin Sans', sans-serif;
    margin-left: 4rem;
    color: #fff;
    /* height: 100vh; */
}
.heading1{
    padding-top: 1rem;
    font-size:6.5rem;
}

.par1{
    padding-top: 20px;
    font-size: 3rem;
}
.par2{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}