@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');


*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bodyApp{
    background-image: url(./images/flowers.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 30px;
    color: #000;
    font-family: 'Josefin Sans', serif;
}

.footerDiv{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
/* nav ul{
    
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    list-style-type: none;
    padding: 0 10px;
}
.link{
    text-decoration: none;
    color:#707375;
    font-weight: 600;
}
li:hover{
    color: #707375;
    padding-bottom: 2px;
}
.leftSide,.rightSide{
    width: 50%;
} */

/* @media only screen and (max-width: 700px) {
    .bodyApp{
        flex-direction: column;
    }
    
} */