*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
.align-center{
    background-color: #0D1117;
    color: #C9D1D9;
    /* Align */
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.navs li{
    padding: 0 10px;
    color: #C9D1D9;
    text-decoration: none;
}

